.footer.footer-chord
	.footer-container
		.footer-logo

		%ul.footer-list
			%li.footer-list-item
				= link_to 'About', '/about'
			%li.footer-list-item
				= link_to 'Blog', '/blog'
			%li.footer-list-item
				= link_to 'Support Us', 'https://www.paypal.me/karisapp'
			%li.footer-list-item.white
				= link_to 'Submit', '/chords/new'