.footer.footer-white
	.footer-container
		.footer-logo

		%ul.footer-list
			%li.footer-list-item
				= link_to 'About', '/about'
			%li.footer-list-item
				= link_to 'Blog', '/blog'
			%li.footer-list-item
				= link_to 'Submit', '/chords/new'