.header
    .header-list
        %li#name
            = link_to 'Karis', '/'
        %li
            = link_to 'Top Chords', '/'
        %li
            = link_to 'Favorites', '/'
        %li
            = link_to 'Sign In', 'users/sign_in'