=render "main/header"

.title_big.section_medium-top-padding
	Favorite chords 

.section_results
	- @chords.each do |chord|
		.search_item
			= link_to chord.title, chord_path(:id => chord.id)
			\-
			= link_to chord.artist.name, chord_path(:id => chord.id)
			.search_actions
				= link_to 'View', chord_path(:id => chord.id)
				.link_red
					= link_to 'Unfavorite', favorites_remove_path(:favorite => {:chord_id => chord.id}, :from => 'index'), method: 'delete'



=render "main/footer"
