=render "main/header"

.title_big.title_user
	Editing Chords

	.subtitle
		Make sure that the song isn't already on Karis


.container.section_no-top-padding
	= render 'form'

.footer.footer-all
	.footer-container-percent
		.footer-logo

		%ul.footer-list
			%li.footer-list-item
				= link_to 'About', '/about'
			%li.footer-list-item
				= link_to 'Blog', '/blog'
			%li.footer-list-item
				= link_to 'Submit', '/chords/new'
