=render "main/header"

.title_big.section_medium-top-padding
	You have searched for "#{@search}"

.section_results
	- @chords.each do |chord|
		.search_item
			= link_to chord.title, chord_path(:id => chord.id)

=render "main/footer"
