=render "main/header"

.title_big.section_medium-top-padding
	Your Account

.section_results
	= link_to "View My Chords", "/my_chords"
	= link_to "View My Account Details", "/users/edit"
	= link_to "Change Password", "/users/password/edit"

=render "main/footer"
