=render "main/header"

.hero_blog
	.title_big.title_white.section_big-top-padding
		BLOG
	.subtitle.subtitle_white.section
		Stay updated about what's happening with Karis!

.section_small

.bloglist
	.row
		.post
			.blog-title
				= link_to 'The Second Blog Post','https://karisapp.herokuapp.com/blog/'
			.blog-author
				By James Hong
			.blog-summary
				Here are some words. Blah blah blah. I don't know what I'm writing really.Here are some words. Blah blah blah. I don't know what I'm writing really.Here are some words. Blah blah blah. I don't know what I'm writing really.
			.blog-border

.bloglist
	.row
		.post
			.blog-title
				= link_to 'The First Blog Post','https://karisapp.herokuapp.com/blog/'
			.blog-author
				By James Hong
			.blog-summary
				Here are some words. Blah blah blah. I don't know what I'm writing really.Here are some words. Blah blah blah. I don't know what I'm writing really.Here are some words. Blah blah blah. I don't know what I'm writing really.


=render "main/footer"