.about-container {
	position: relative;
}

.about-description {
	display: inline-block;
	width: 400px;
	padding-top: 20px;

}

.about-image {
	border-radius: 50%;
	width: 200px;
}

.about-name {
	font-size: 22px;
	color: gray;
	line-height: 36px;
}