.about-container {
	position: relative;
}

.about-description {
	display: inline-block;
	width: 400px;
	padding-top: 20px;

}

.about-image {
	width, height: 200px;
	border-radius: 50%;
}

.headshot_james {
	width, height: 200px;
	border-radius: 50%;
	background-image: image-url('james.jpeg');
}

.headshot_phil {
	width, height: 200px;
	border-radius: 50%;
	background-image: image-url('phil.jpeg');
}

.headshot_eric {
	width, height: 200px;
	border-radius: 50%;
	background-image: image-url('eric.jpeg');
}

.about-member {
	font-size: 22px;
	color: gray;
	line-height: 36px;
}