.bloglist {
	margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 2em;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #fff));
    background-image: -moz-linear-gradient(#f7f7f7 0%, #fff 3em);
    background-image: -webkit-linear-gradient(#f7f7f7 0%, #fff 3em);
    background-image: linear-gradient(#f7f7f7 0%, #fff 3em);
}

.row {
	margin: 0 auto;
    max-width: 800px;
}

.blog-title {
	font-size: 30px;
	color: red;
	line-height: 40px;

}

.blog-title a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.blog-author {
	font-size: 20px;
	line-height: 32px;
	padding-bottom: 10px;
}