.bloglist {
	margin-top: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: left;
}

.blog-border {
	padding: 10px 0px;
	border-bottom: 1px solid #262626;
}

.row {
	margin: 0 auto;
    max-width: 800px;
}

.blog-title {
	font-size: 24px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: 900;

}

.blog-title a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.blog-author {
	font-size: 20px;
	line-height: 32px;
	padding-bottom: 10px;
	font-weight: 500;
}

.blog-summary {

}