// Place all the styles related to the Chords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chord-body {
	width: 100%;
	background-color: #f6f9f8;
}

.chord-content {
	width: 980px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
}

ul {
	display: inline-block;
	margin: 0;	
	padding: 1px;
}

h1 {
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;	
	width: 100%;
}

.form-horizontal {
	margin: 0 auto;
	width: 660px;
	text-align: center;
}

.form-input {
	text-align: left;
	text-transform: uppercase;
	display: inline-block;
	color: #2f323a;
}

.input {
	display: inline-block;
	text-align: left;
	padding-bottom: 10px;
	font-weight: 600;
	width: 520px;
}

#chord_title, #chord_artist_full_name, #chord_video_url {
	text-align: left;
    margin-left: 20px;
    border: 1px solid gray;
    border-radius: 7px;
    height: 30px;
    padding-left: 4px;
    width: 300px;
    font-size: 14px;
    padding: 0px 6px;
}

#chord_title {
	margin-left: 131px;
}

#chord_video_url {
	margin-left: 89px;
}

#chord_content {
	width: 660px;
	height: 400px;
	font-size: 14px;
	margin-top: 10px;
	border: 1px solid gray;
    border-radius: 7px;
    text-align: left;
    padding: 6px;
}


.form-submit {	
	padding: 0px 20px;
	margin: 16px 0px;
	height: 32px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	background-color: white; 
	letter-spacing: 1px;
	border: 1px solid gray;
	border-radius: 6px;
}

.form-submit:hover {
	background-color: #e5e5e5;
	-webkit-transition-duration: .3s;

}

.mainContainer {
	text-align: left;
	display: inline-block;
	font-size: 14px;
	width: 980px;
	background-color: white;

}

.section_top {
	width: 90%;
	padding-top: 10px;
	margin: 0 auto;
}

.info {
	float: left;
}

.functions {
	display: inline-block;
    float: right;
    margin-top: 10px;
}

.transpose {
	color: #616161;
	line-height: 25px;
    font-size: 11px;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
}

#transpose-item {
	text-align: left;
	font-weight: 500;
	display: inline-block;
}

.icon {
	display: inline-block;
	height: 16px;
	padding: 4px;
	opacity: .8;
}

.function-text {
	display: inline-block;
	font-weight: 500;
	vertical-align: text-bottom;
	padding: 0px 5px 0px 30px;
}

.icon-container {
	border: 2px solid gray;
	height: 24px;
    display: inline-block;
    background-color: #eff7ff;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer; cursor: hand;
}

.icon-container:hover {
	background-color: #67a7ff;
	-webkit-transition-duration: .3s;
}

.main {
	width: 880px;
	padding: 50px;
    text-align: left;
    display: inline-block;	
    padding-top: 20px;
}

.title {
	text-align: left;
	font-size: 24px;
	font-weight: 400;
}

.artist {
	text-align: left;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	color: gray;

}

.uploader {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.video_url {
	float: left;
	text-decoration: underline;
	font-size: 14px;
	line-height: 20px;
	font-weight: 100;
}

.video_url a { 
	color: #66b2ff;
	font-weight: 500;
}

.chordsLeft {
	padding-top: 20px;
	text-align: left;
	letter-spacing: -.5px;
	line-height: .9;
	float: left;
	width: 440px;

}

pre {
	letter-spacing: -1.3px;
	font-size: 14px;
	font-family: Courier New, Courier, Monospace;
}

span.chord {
	line-height: 16.6px;
	color: #66b2ff;
}