// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	width: 100%;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	display: inline-block;
	background-color: #fff;
	text-align: center;
}

.title_big {
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	color: #2f323a;
	font-weight: 400;

	@media screen and (max-width: 400px) {
    	font-size: 32px;
  	}


}

.title_white {
	color: #fff;
}

.title_index {
	padding-bottom: 30px;
}

.title_user {
	padding: 20px 0px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.subtitle {
	color: gray;
	font-size: 20px;
	padding: 20px 0px;
	font-weight: 400;
	padding-top: 20px;
	text-transform: none;
}

.subtitle_white {
	color: #f2f2f2;
}

.description {
	margin: auto;
	font-weight: 400;
	max-width: 700px;
	line-height: 22px;
	text-align: justify;
}

.search-field {
	border: 1px solid #fff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 100;
    height: 38px;
    outline: none;
    padding: 0 16px;
    width: 360px;
}

.search-button {
	letter-spacing: 1px;
	border: 1px solid #fff;
	border-radius: 50%;
	font-size: 16px;
	font-weight: 600;
	height: 38px;
	color: #2f323a;
	outline: none;
	padding: 0 5px;
	background-color: #fff;
	cursor: pointer;
}

.search-field-black {
	border: 1px solid #2f323a;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    height: 38px;
    outline: none;
    padding: 0 16px;
    width: 360px;
}

.search-button-black {
	letter-spacing: 1px;
	border: 1px solid #2f323a;
	border-radius: 50%;
	font-size: 14px;
	font-weight: 600;
	height: 38px;
	color: #2f323a;
	outline: none;
	padding: 0 6px;
	background-color: #fff;
	cursor: pointer;
}

.search-button:hover {
	border-color: #e5e5e5;
	background-color: #e5e5e5;
	-webkit-transition-duration: .3s;
}

.search-button-black:hover {
	background-color: #e5e5e5;
	-webkit-transition-duration: .3s;
}

.search_item {
	font-weight: 400;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    @media screen and (max-width: 400px) {
    	font-size: 30px;
  	}
}

.search_item a {
	text-decoration: none;
    font-weight: 500;
    color: #2f323a;
    padding-right: 5px;
    display: inline-block;
}

.search_actions {
	display: inline-block;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 0;
    float: right;
}

.search_actions a {

}

.link_red {
	display: inline-block;
}

.link_red a {
	color: #c59c9c;
}

a {
	text-decoration: none;
	font-family: helvetica, arial, sans-serif;
	color: #2f323a;
	font-weight: 500;
	line-height: 30px;
	display: block;
}