.section {
	text-align: center;
	padding: 80px 0px;
}

.section_index {
	text-align: center;
	background-image: image-url('girl.png');
}

.section_normal-height {
	height: 85vh;
}

.section_vertical-align-middle {
	vertical-align: middle;
}

.section_no-top-padding {
	padding-top: 0px !important;
}

.section_no-bottom-padding {
	padding-bottom: 0px !important;
}

.section_big-top-padding {
	padding-top: 100px !important; 
}

.section_search {
	padding-top: 20px;
	text-align: right;
	padding-right: 65px;
	zoom: .8;
}

.section_results {
	padding: 100px;
	width: 60%;
	margin: 0 auto;
}

.container_index {
	padding-top: 200px;
}


