.section {
	text-align: center;
	background-image: image-url('images/sathergate.jpeg');
}

.section_normal-height {
	min-height: 600px;
	height: 78vh;
}

.section_vertical-align-middle {
	vertical-align: middle;
}

.section_no-top-padding {
	padding-top: 0px !important;
}

.section_no-bottom-padding {
	padding-bottom: 0px !important;
}

.section_big-top-padding {
	padding-top: 100px !important; 
}

.section_search {
	padding-top: 20px;
	text-align: right;
	padding-right: 65px;
	zoom: .8;
}

.section_results {
	width: 60%;
	margin: 0 auto;
}

.container {
	padding-top: 50px;
}


