#new_user {
	margin: 0 auto;
    width: 680px;
    text-align: center;
}



#user_email, #user_password, #user_current_password, #user_password_confirmation, #user_first_name, #user_last_name {
	text-align: left;
    height: 40px;
    margin-top: 6px;
    border: 1px solid gray;
    border-radius: 6px;
    width: 466px;
    display: block;
    font-size: 14px;
    padding: 0px 6px;
}

.form-inputs {
	width: 480px;
    margin: 0 auto;
}

.form-actions {
	width: 680px;
    margin: 0 auto;
    text-align: center;
}

.hint {
	padding-left: 6px;
    font-size: 14px;
    font-style: italic;
    float: right;
}

abbr[title="required"] {
  display: none;
}
